
		
<div layout="column" layout-align="center center" style="height:100%;">
  <md-card layout-padding style="background:#fff; width:300px;">
	<md-card-content>
        <h2 class="md-title">Sign In</h2>
		
	  <form name="projectForm">
      <md-input-container>
        <label>Email Id</label>
        <input type="text"   name="emailId" ng-model="project.emailId" style="background:#fff;">        
      </md-input-container>
          
       <md-input-container>
        <label>Password</label>
        <input type="password"   name="password" ng-model="project.password"  style="background:#fff;">                
      </md-input-container>
		  <div style="text-align:center">
      <md-button class="md-raised md-primary">Primary</md-button>
			  </div>
    </form>
	  </md-card-content>
	  </md-card>
</div>

<!--

<div ng-controller="LoginCtrl" layout="column" layout-padding layout-margin layout-sm>
  
      <form name="projectForm">
      <md-input-container>
        <label>Email Id</label>
        <input type="text"   name="emailId" ng-model="project.emailId" style="background:#fff;">        
      </md-input-container>
          
       <md-input-container>
        <label>Password</label>
        <input type="password"   name="password" ng-model="project.password"  style="background:#fff;">                
      </md-input-container>
		  
      <md-button class="md-raised md-primary">Login</md-button>
    </form>
      
  
</div>-->
